div{
    border:1px black solid;

}
#d1{
    width:500px;
    margin-left:auto;
    margin-right: auto;
    background-color:lightblue;
    padding:30px;
}
#d2{
    background-color: blue;
    margin:30px;
}
#d3{
    background-color: indigo;
    margin:30px;
}
#d4 {
    background-color: aqua;
    margin:30px;
}
#d5 {
    background-color: darkblue;
    margin:30px;
}
